[Unit]
Description=JammaPi service
After=network.target

[Service]
User=pi
Type=simple
ExecStart=/home/pi/JammaPi/script/jammapi.sh
#ExecStart=/home/pi/JammaPi/script/jammapi.sh 2>&1 >> /home/pi/JammaPi/jammapi.log
[Install]
WantedBy=multi-user.target
