[Unit]
Description=JammaPi Joystick service
After=network.target

[Service]
User=pi
Type=simple
ExecStart=/home/pi/JammaPi/script/interfaccia.sh -JSON
ExecStop=/home/pi/JammaPi/script/interfaccia.sh -JSOFF

[Install]
WantedBy=multi-user.target
