[Unit]
Description=JammaPi service
After=network.target

[Service]
User=pi
Type=simple
ExecStart=/home/pi/JammaPi/script/jammapi.sh
[Install]
WantedBy=multi-user.target
